# будут игнорироваться все файлы, находящиеся в подкаталоге tmp
/tmp/
# будут игнорироваться все файлы, заканчивающиеся суффиксами _old, _backup
*.*old
*.*backup
# будут игнорироваться файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store
